#main {
    border: 3px solid black;
    border-radius: 12px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.promoText::before {
    position: absolute;
    display: inline-block;
    content: "";
    margin-top: 30px;
    border-top: 2px solid black;
    width: 180px;
}


.tovar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tovarItem {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.tovarItem>div {
    margin-left: -30px;
}

.tovar2 {
    display: flex;
    align-items: center;
}

#delivery {
    border: 3px solid black;
    border-radius: 12px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#deliveryClose {
    display: none;
}

.delivery_item {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

#btnDelivery {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    border-radius: 12px;
    background: none;
    transition: 300ms ease;
}

#btnDelivery:hover {
    background: rgb(223, 220, 220);
}

#btnBasket {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    border-radius: 12px;
    background: none;
    transition: 300ms ease;
}

#btnBasket:hover {
    background: rgb(223, 220, 220);

}